
.card{
    display:flex;
    flex-direction: column;
    overflow: auto;
    box-sizing: border-box;
    flex-wrap:wrap;
}
.image{
    max-width:400px;
    min-width: 310px;
    border-radius: 15px;
}

@media screen and (max-width: 840px) {
    .card{
        display:flex !important;
        flex-direction: column !important;
    }
}